examples/monitor-and-notify.json
{
  "name": "Monitor Address and Send Slack Notification",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            },
            {}
          ]
        }
      },
      "id": "9b249013-67bd-4d75-9119-59f88569d531",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -816,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData(\"global\");\n\n// Store the highest height seen for next run\nlet items = $input.all();\nif (items.length > 0 && items[0].json.meta) {\n  const latestHeight = Number(items[0].json.meta.height);\n   data.nextBlockHeight = latestHeight + 1;\n}\n\nreturn items;"
      },
      "id": "30689ef1-a3ee-4518-9b42-596ac0512308",
      "name": "Track Latest Block Height",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.meta }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "1a0d8239-fc65-439b-aee0-07f1cf42b1d9",
      "name": "Has New Transactions?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -96,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\n// Get next height from workflow static data (or start at 0)\nconst nextHeight = data.nextBlockHeight || 0;\n\n// Return the last height so the Symbol node can use it\nreturn [{ json: { fromHeight: nextHeight } }];"
      },
      "id": "ac56f2db-7210-4a59-8afe-cef205133304",
      "name": "Get Next Height",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        96
      ]
    },
    {
      "parameters": {
        "address": "TBIL6D6RURP45YQRWV6Q7YVWIIPLQGLZQFHWFEQ",
        "type": "16724",
        "fromHeight": "={{ $json.fromHeight }}"
      },
      "type": "n8n-nodes-symbol.symbolGetTransactions",
      "typeVersion": 1,
      "position": [
        -448,
        96
      ],
      "id": "901123e1-6d22-4219-b907-7bb5a1ccc2bf",
      "name": "Symbol Get Transactions1",
      "credentials": {
        "symbolApi": {
          "id": "vxF4ckyla6LXRzdb",
          "name": "Symbol account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare message with transaction details\nconst tx = $input.first().json.transaction;\nconst meta = $input.first().json.meta;\n\nconst message = `Transaction received\n\n*Amount:* ${tx.mosaics[0]?.amount || 'N/A'} (atomic)\n*Mosaic ID:* ${tx.mosaics[0]?.id || 'N/A'}\n*From:* ${tx.signerPublicKey}\n*Message:* ${tx.message || '(none)'}\n*Tx Hash:* \\`${meta.hash}\\`\n*Block Height:* ${meta.height}`;\n\nreturn [{ json: { message } }];"
      },
      "id": "bcedbd0f-6fc0-4eef-890b-2cf0aae02cf8",
      "name": "Prepare Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        0
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.message }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        272,
        0
      ],
      "id": "81bc2343-1522-4fa5-93be-05f33522f4bb",
      "name": "Send a message",
      "webhookId": "21c23bb2-cb5a-41bd-bad5-10811c4f2d76"
    }
  ],
  "pinData": {},
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Get Next Height",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Track Latest Block Height": {
      "main": [
        [
          {
            "node": "Has New Transactions?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Next Height": {
      "main": [
        [
          {
            "node": "Symbol Get Transactions1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Symbol Get Transactions1": {
      "main": [
        [
          {
            "node": "Track Latest Block Height",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Transactions?": {
      "main": [
        [
          {
            "node": "Prepare Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Message": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "21646b47-b222-4e9a-a011-611f622a191c",
  "meta": {
    "instanceId": "102b9bc53d53c47d368e20e7cf869b1dddaf86f40b7358cf61b8eee996aa9ae1"
  },
  "id": "RVSmqBiXXgMPXwWV",
  "tags": []
}