examples/monitor-and-notify.json
{
  "name": "Monitor Address and Send Slack Notification",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            },
            {}
          ]
        }
      },
      "id": "2399b755-e97b-4cf1-a9a7-0ba3b35b0ac8",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -880,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData(\"global\");\n\n// Store the highest height seen for next run\nlet items = $input.all();\nif (items.length > 0 && items[0].json.meta) {\n  const latestHeight = Number(items[0].json.meta.height);\n   data.nextBlockHeight = latestHeight + 1;\n}\n\nreturn items;"
      },
      "id": "a649613a-81e3-4eca-b8a8-b7f8e1a0f5d6",
      "name": "Track Latest Block Height",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.meta }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "24af5ecf-51b0-44ca-8905-6fc318657c76",
      "name": "Has New Transactions?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -160,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\n// Get next height from workflow static data (or start at 0)\nconst nextHeight = data.nextBlockHeight || 0;\n\n// Return the last height so the Symbol node can use it\nreturn [{ json: { fromHeight: nextHeight } }];"
      },
      "id": "5a7b8f1b-a225-43be-92ef-62edb70364d1",
      "name": "Get Next Height",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        96
      ]
    },
    {
      "parameters": {
        "address": "TBIL6D6RURP45YQRWV6Q7YVWIIPLQGLZQFHWFEQ",
        "fromHeight": "={{ $json.fromHeight }}"
      },
      "type": "n8n-nodes-symbol.symbolGetTransactions",
      "typeVersion": 1,
      "position": [
        -512,
        96
      ],
      "id": "31984463-6a1d-4778-b9dc-c2927e00cc95",
      "name": "Symbol Get Transactions1",
      "credentials": {
        "symbolApi": {
          "id": "vxF4ckyla6LXRzdb",
          "name": "Symbol account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare message with transaction details\nconst tx = $input.first().json.transaction;\nconst meta = $input.first().json.meta;\n\nconst message = `New transaction\n\n*Amount:* ${tx.mosaics[0]?.amount || 'N/A'} (atomic)\n*Mosaic ID:* ${tx.mosaics[0]?.id || 'N/A'}\n*From:* ${tx.signerPublicKey}\n*To:* ${tx.recipientAddress}\n*Message:* ${tx.message || '(none)'}\n*Tx Hash:* \\`${meta.hash}\\`\n*Block Height:* ${meta.height}`;\n\nreturn [{ json: { message } }];"
      },
      "id": "2f22972b-dc8a-49d8-832c-d77bf52374eb",
      "name": "Prepare Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.message }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        208,
        0
      ],
      "id": "a257ea7b-6df5-4683-809e-cb4d97a63314",
      "name": "Send a message",
      "webhookId": "21c23bb2-cb5a-41bd-bad5-10811c4f2d76"
    }
  ],
  "pinData": {},
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Get Next Height",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Track Latest Block Height": {
      "main": [
        [
          {
            "node": "Has New Transactions?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Next Height": {
      "main": [
        [
          {
            "node": "Symbol Get Transactions1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Symbol Get Transactions1": {
      "main": [
        [
          {
            "node": "Track Latest Block Height",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Transactions?": {
      "main": [
        [
          {
            "node": "Prepare Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Message": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ecaae023-01f3-4b7a-9c61-43beaec77546",
  "meta": {
    "instanceId": "102b9bc53d53c47d368e20e7cf869b1dddaf86f40b7358cf61b8eee996aa9ae1"
  },
  "id": "zyPX42d8ZMncpX92",
  "tags": []
}